#people_about{
    width: 100%;
    margin: 0;
    background: #F7F8FC;
}

.card-title{
    text-wrap: pretty;
}
.card-people-about {
    
    padding: 28px 68px 34px 34px;
    display: flex;
    flex-direction: column; 
    gap: 2.125rem;
    border-radius: 10px;
}

.author{
    justify-content: space-around;
}

.avatar-people-about {
    width: 68px; 
    height: 68px; 
    position: absolute; 
    top: -30px; 
    left: 10px; 
    z-index: 1;
}

.card-header:hover .btn-overlay {
    opacity: 1;
  }


  .react-carousel {
    padding: 2rem 0;
  }


