.main-title{
    position: relative;
    & img {
      right: 0;
      top: 0;
      position: absolute;
      transform: translate(100%, -10%);
    }
    & .card-text{
      width: 30.125rem;
    }
  }


.max-width-section{
    max-width: 1200px;
    margin-bottom: 90px;
    margin: 0 auto;
  }