.things-you-need-to-do {
    background-color: #f7f8fc;
    margin: 0 0;
    width: 100%;
    position: relative;
  }
  
  #cards-section2 {
    max-width: 1200px;
    margin-bottom: 90px;
    margin: 0 auto;
  }

  #title_banner{
    max-width: 1200px;
    margin-bottom: 90px;
    margin: 0 auto;
  }

.cardTitleBold{
    font-weight: bold;
    font-size: 20px;
}

.main-title{
  position: relative;
  & img {
    right: 0;
    top: 0;
    position: absolute;
    transform: translate(100%, -10%);
  }
  & .card-text{
    width: 30.125rem;
  }
}

.line {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
}

.card-body {
  z-index: 1;
}

.card{
  width: 23.125rem;
  height: 17.375rem;
}