.line {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-shrink: 0;
    position: absolute;
    z-index: 0;
  }
  
  .card-body {
    z-index: 1;
  }
  
  .card{
    width: 23.125rem;
    height: 17.375rem;
  }